
input {
  font: inherit;
  border: inherit;
  padding: inherit;
  background-color: inherit;
  color: inherit;
}
input:focus {
  outline: none;
}
.vector {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  overflow: visible !important;
}
.figma-0 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
width: 100%;
height: 100%;
debug-h: LEFT;
debug-v: TOP;
background: linear-gradient(to bottom, rgba(133, 141, 208, 1) 0%, rgba(133, 141, 208, 1) 100%), linear-gradient(to bottom, rgba(133, 141, 208, 1) 0%, rgba(133, 141, 208, 1) 100%);
background-size: auto, auto;
}
.figma-1 {
position: relative;
width: 100%;
height: 100%;
}
.figma-3 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
z-index: 1;
debug-h: LEFT;
margin-left: 468px;
min-width: 135px;
debug-v: TOP;
margin-top: 222px;
margin-bottom: 729px;
min-height: 129px;
background: url('./static/images/209-3.png') center center no-repeat;
background-size: cover;
}
.figma-4 {
position: relative;
display: flex;
z-index: 1;
pointer-events: none;
}
.figma-6 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
z-index: 4;
debug-h: LEFT;
margin-left: 764px;
min-width: 197px;
debug-v: TOP;
margin-top: -818px;
margin-bottom: 641px;
min-height: 177px;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
background-size: auto;
}
.figma-7 {
position: relative;
display: flex;
z-index: 4;
pointer-events: none;
}
.figma-10 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
debug-h: SCALE;
width: 100%;
margin-left: 0%;
margin-right: 0%;
debug-v: SCALE;
height: 100%;
top: 0%;
bottom: 0%;
}
.figma-11 {
position: absolute;
display: flex;
width: 100%;
pointer-events: none;
justify-content: center;
height: 100%;
top: 0px;
left: 0px;
align-items: stretch;
}
.figma-14 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
z-index: 1;
debug-h: SCALE;
width: 100%;
margin-left: 0%;
margin-right: 0%;
debug-v: SCALE;
height: 100%;
top: 0%;
bottom: 0%;
}
.figma-15 {
position: absolute;
display: flex;
width: 100%;
pointer-events: none;
justify-content: center;
height: 100%;
top: 0px;
left: 0px;
align-items: stretch;
z-index: 1;
}
.figma-17 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
debug-h: LEFT;
margin-left: 372px;
min-width: 384px;
debug-v: TOP;
margin-top: -780px;
margin-bottom: 457px;
min-height: 323px;
background: url('./static/images/116-0.png') center center no-repeat;
background-size: cover;
}
.figma-18 {
position: relative;
display: flex;
}
.figma-20 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
z-index: 5;
debug-h: LEFT;
margin-left: 274px;
min-width: 226px;
max-width: 226px;
debug-v: TOP;
margin-top: -721px;
margin-bottom: 515px;
min-height: 206px;
max-height: 206px;
overflow: hidden;
background: linear-gradient(to bottom, rgba(40, 138, 115, 1) 0%, rgba(40, 138, 115, 1) 100%), linear-gradient(to bottom, rgba(40, 138, 115, 1) 0%, rgba(40, 138, 115, 1) 100%);
background-size: auto, auto;
}
.figma-21 {
position: relative;
display: flex;
z-index: 5;
pointer-events: none;
}
.figma-23 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
transform: rotate(47.6475087037633deg);
transform-origin: 50% 50%;
debug-h: LEFT;
margin-left: 104.11492156982422px;
min-width: 17.335113525390625px;
debug-v: TOP;
margin-top: -41.121795654296875px;
margin-bottom: -41.06976318359375px;
min-height: 288.1915588378906px;
background: linear-gradient(to bottom, rgba(184, 74, 74, 1) 0%, rgba(184, 74, 74, 1) 100%);
background-size: auto;
}
.figma-24 {
position: relative;
display: flex;
}
.figma-26 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
z-index: 1;
transform: rotate(-47.93556417933166deg);
transform-origin: 50% 50%;
debug-h: LEFT;
margin-left: 110.97859764099121px;
min-width: 9.114994049072266px;
debug-v: TOP;
margin-top: -250.17310333251953px;
margin-bottom: -38.018455505371094px;
min-height: 288.1915588378906px;
background: linear-gradient(to bottom, rgba(76, 91, 169, 1) 0%, rgba(76, 91, 169, 1) 100%);
background-size: auto;
}
.figma-27 {
position: relative;
display: flex;
z-index: 1;
pointer-events: none;
}
.figma-29 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
z-index: 6;
debug-h: LEFT;
margin-left: 674px;
min-width: 203px;
debug-v: TOP;
margin-top: -576px;
margin-bottom: 467px;
min-height: 109px;
background: linear-gradient(to bottom, rgba(196, 196, 196, 1) 0%, rgba(196, 196, 196, 1) 100%);
background-size: auto;
}
.figma-30 {
position: relative;
display: flex;
z-index: 6;
pointer-events: none;
}
.figma-32 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
z-index: 7;
debug-h: LEFT;
margin-left: 675px;
min-width: 203px;
debug-v: TOP;
margin-top: -576px;
margin-bottom: 467px;
min-height: 109px;
background: linear-gradient(to bottom, rgba(124, 18, 18, 1) 0%, rgba(124, 18, 18, 1) 100%);
background-size: auto;
}
.figma-33 {
position: relative;
display: flex;
z-index: 7;
pointer-events: none;
}
.figma-35 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
z-index: 2;
debug-h: LEFT;
margin-left: 435px;
min-width: 214px;
debug-v: TOP;
margin-top: -554px;
margin-bottom: 297px;
min-height: 257px;
background: url('./static/images/200-14.png') center center no-repeat;
background-size: cover;
}
.figma-36 {
position: relative;
display: flex;
z-index: 2;
pointer-events: none;
}
.figma-39 {
position: relative;
box-sizing: border-box;
pointer-events: auto;
z-index: 3;
debug-h: LEFT;
margin-left: 291px;
min-width: 81px;
debug-v: TOP;
margin-top: -485px;
margin-bottom: 327px;
min-height: 158px;
color: rgba(255, 255, 255, 1);
webkit-text-stroke: 5px rgba(255, 255, 255, 1);
font-size: 90px;
font-weight: 400;
font-family: Roboto;
text-align: center;
font-style: normal;
line-height: 188.61607360839844%;
letter-spacing: 9px;
display: flex;
max-width: -webkit-fill-available;
align-content: flex-start;
justify-content: center;
vertical-align: top;
align-items: flex-start;
}
.figma-40 {
position: relative;
display: flex;
z-index: 3;
pointer-events: none;
}

.figma-9 {
left: 0;
width: 100%;
top: 0;
height: 100%;
transform: unset;
}


.figma-13 {
left: 0;
width: 100%;
top: 0;
height: 100%;
transform: unset;
}
